<h1>Tarea Docker</h1>

<div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Opciones 
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="/reg/add">Crear </a>
      <a class="dropdown-item" href="/reg">Listar</a>
    </div>
</div>
